{% extends "base.html"%}
{%block content%}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About page </title>
    <link rel="stylesheet" href="/static/about.css">

    <div class="circle-top"></div>
    <div class="circle-bottom"></div>
    <header>
        <div class="header-content">
            <span>We are Team Underwater</span>
            <h1>Meet a team of experts and innovators who are pioneers in their field</h1>
        </div>
    </header>
    <section>
        <div class="card-top">
            <div class="card">
                <img src="/static/images/avatar.jpg" alt="name">
                <h2>Name</h2>
                <p>Role</p>
            </div>
            <div class="card">
                <img src="/static/images/avatar.jpg" alt="name">
                <h2>Name</h2>
                <p>Role</p>
            </div>
        </div>
        <div class="card">
            <img src="/static/images/avatar.jpg" alt="name">
            <h2>Name</h2>
            <p>Role</p>
        </div>
        <div class="card">
            <img src="/static/images/avatar.jpg" alt="name">
            <h2>Name</h2>
            <p>Role</p>
        </div>
        <div class="card">
            <img src="/static/images/avatar.jpg" alt="name">
            <h2>Name</h2>
            <p>Role</p>
        </div>
        <div class="card">
            <img src="/static/images/avatar.jpg" alt="name">
            <h2>Name</h2>
            <p>Role</p>
        </div>
        <div class="card">
            <img src="/static/images/avatar.jpg" alt="name">
            <h2>Name</h2>
            <p>Role</p>
        </div>
        <div class="card">
            <img src="/static/images/avatar.jpg" alt="name">
            <h2>Name</h2>
            <p>Role</p>
        </div>
    </section>
{% endblock %}