<link  rel="stylesheet" type="text/css" href="/static/footer.css">
<footer>    
<div class="container">
        <div class="left">
            <p>&copy; 2024 Digital Art Exhibition</p>
        </div>
        <div class="right">
            <div class="contact-info">
                <div class="address">
                    <h3>Address:</h3>
                    <p>IIMS College,<br>Dhobidhara, Kathmandu, Nepal<br>P.O.Box: 6721</p>
                </div>
                <div class="phone-number">
                    <h3>Phone:</h3>
                    <p>4536 383, 4534 088</p>
                </div>
                <div class="email">
                    <h3>Email:</h3>
                    <p><a href="mailto:info@iimscollege.edu.np">info@iimscollege.edu.np</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>